.grid-container {
  display: grid;
  grid-gap: 20px 20px;
  grid-template-columns: 400px 1fr 1fr 1fr;
  grid-template-rows: 50% 25% 25%;
  margin: 100px 50px;
}

.grid-item {
  background-color: white;
  box-shadow: 1px 1px 10px #888888;
  border-radius: 10px;
  overflow: scroll;
}

.grid-item1 {
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
  text-align: center;
}

.carrierwave-img {
  margin-top: 200px;
}

.grid-item2 {
  grid-row: 3 / span 1;
  grid-column: 2 / span 3;
  padding: 0 10px;
}

.grid-item3 {
  grid-row: 1/ span 2;
  grid-column: 2 / span 1;
  text-align: center;
}

.grid-item4 {
  grid-row: 1/ span 2;
  grid-column: 3 / span 1;
  text-align: center;
}

.grid-item5 {
  grid-row: 1/ span 2;
  grid-column: 4 / span 1;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 10px 20px;
}

.show-title {
  background-color: #01B6CA;
  color: white;
  margin-top: 0;
  padding: 20px;
  font-size: 35px;
}

h3 {
  font-size: 20px;
}

.name-image{
  margin-top: 5px;
}

.boat-name {
  font-size: 45px;
  color: #01B6CA;
}

.boat-btn {
  color: white;
  background-color: #01B6CA;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
}

.boat-btn:hover {
  color: #025578;
  text-decoration: none;
}

.boat-p {
  margin-bottom: 40px;
}

.btn-details {
  margin-bottom: 25px;
}
