<h2>User show page</h2>

<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>


<p> Here comes a list of the boats, TO BE ADDED
</p>

<p> BELOW LINK PATH NEEDS TO BE EDITED! </p>
<%= link_to "Back to boats",  @user_boats_path%>
<p> ADD A BOAT LINK IS MISSING! </p>


