<div class="main-container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <ul><% @boats.each do |boat| %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'download.jpeg' %>);">
          <div class="card-category"></div>
          <div class="card-description"></div>

          <li><p>Name of the boat: <%= boat.name %></p> <p>Description: <%= boat.description %></p>
            <p>Price per hour: <%= boat.price_per_hour %></p></li>
      </ul>
    </div>
    <% end %>
  </div>
  <a class="card-link" href="#" ></a>
</div>
