<%= render "shared/banner" %>

<h2>Top deals</h2>
<div class="container">
 <div class="row">
   <% @boats.each do |b| %>
     <div class="col-xs-12 col-md-4">
       <%= render "shared/boatcard", boat: b %>
     </div>
   <% end %>
 </div>
</div>
<div class="bottom-padding"></div>
