<%= render "shared/banner" %>

<h2>Top deals</h2>
<div class="container">
 <div class="row">
   <% @boats.first(3).each do |b| %>
     <div class="col-xs-12 col-md-4">
       <%= link_to boat_path(b) do %>
       <%= render "shared/boatcard", boat: b %>
       <% end %>
     </div>
   <% end %>
 </div>
</div>
<div>
  <h2>About</h2>
  <p>This is the</p>
</div>
<div class="bottom-padding"></div>
