<%= render "shared/banner" %>

<div class="home-container">
<h2>Top deals</h2>
<div class="container">
 <div class="row">
   <% @boats.first(3).each do |b| %>
     <div class="col-xs-12 col-md-4">
       <%= link_to boat_path(b) do %>
       <%= render "shared/boatcard", boat: b %>
       <% end %>
     </div>
   <% end %>
 </div>
</div>
<div>
  <h2>Mission</h2>
  <div class="home-content" >
    <p>We created this platform with the idea of bringing together people that are passionate about water and who are looking for alternative ways of finding the best boat rides of their lives. Whether you want to get away from the crowd, spend quality time with your family, or just have a crazy birthday party on a boat, with our growing network, we believe you will all find something truly unique. While searching for a boat on our site, you not only support the owner, but you also contribute to sustainability, to community and if you book a boat without an engine, the environment as well. And for those, who prefer the other way, the good news is that our luxury boat category is continuously expanding...

      <p> HAPPY CRUISING! </p>
    </p>
  </div>
</div>
<!-- <div class="bottom-padding"></div> -->
</div>
