.banner {
  color: white;
  text-align: center;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

banner h1 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-title{
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-size: 50px;
}

.banner-btn {
  padding: 10px 25px;
  background-color: #01B6CA;
  outline-style: none;
  border: none;
  border-radius: 5px;
  color: white;
  }

.banner-btn:hover {
  background-color: #00AFCA;
  color: white;
  }

.banner-btn:active {
  background-color: #00AFCA;
  color: white;

  }


