.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: #F4F4F4;
  position: relative;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #888888;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-category p {
  padding-top: 5px;
  font-size: 25px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}

.card-cost p {
  position: absolute;
  left: 85%;
  top: 81%;
}

 .card-link:hover {
  opacity: 0.8;
}

.star-orange {
  color: $orange;
  font-size: 12px;
}

.star-grey {
  color: #B6B8B9;
  font-size: 12px;
}


