.devise-input-form {
  color: rgba(0,0,0,0.3);
  width: 600px;
  padding: 50px;
  margin: 40px auto;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #b2b2b2;
}

.devise-input-form a {
  color: #01B6CA;
}

.devise-btn {
  margin-bottom: 5px;
  color: white;
}
