
.long-card {
  height: 80px;
  color: black;
  position: relative;
  margin-top: 30px 0;
  background-color: white;
  border-radius: 5px;
  // padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.long-card p{
  font-size: 14px;
  // letter-spacing: 0;
  // line-height: 0;
  // padding: 0;
}
.book-btn {
  color: white !important;
  background-color: #01B6CA;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  margin: 5px 15px;
  font-size: 15px;
  width: 70px;
  height: 40px;
}

.book-btn:hover {
  color: #025578;
  text-decoration: none !important;
}

.hd {
  font-weight: bold;
}

.booking-h2 {
  margin: 0;
  padding: 40px;
}
