.table-container {
  width: 600px;
  margin: 20px auto;
  text-align: center;
}

.table{
  border: 1px, solid, #b2b2b2;
  table-layout: fixed;
}

#pending {
  color: #01B6CA;
}

.booking-title {
  text-align: center;
  font-size: 30px;
}

.booking-btn {
  color: white;
  background-color: #01B6CA;
  // padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
}

p {
  text-align: center;
}
