<h1 class="container">List of boats</h1>
<div class="card">
  <ul><% @boats.each do |boat| %>
    <div class="col-xs-12 col-sm-6">
      <li><p>Name of the boat: <%= boat.name %></p> <p>Description: <%= boat.description %></p>
        <p>Price per hour: <%= boat.price_per_hour %></p></li>
    </div>
  <% end %>
  </ul>
</div>
